<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='<%= baseUrl %>stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <h3><a href="<%= baseUrl %>">HOME</a></h3>
      <h3><a href="<%= baseUrl %>map">MAP</a></h3>
      <h3><a href="<%= baseUrl %>react">REACT CLIENT</a></h3>
    </div>
    <div class="content">
      <div class="register">
        <h3>Register</h3>
        <p id='placeholder'></p>
        <input type="text" name="username" id="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="text" name="firstname" placeholder="firstname"><br>
        <input type="text" name="lastname" placeholder="lastname"><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <button type="submit" onclick='register()'>register</button><br>
      </div>
    </div>
  </div>
</body>
<script>
  function register() {
    const username = document.getElementById('username')
    const password = document.getElementById('password')
    const firstname = document.getElementById('firstname')
    const lastname = document.getElementById('lastname')
    const email = document.getElementById('email')
    URL = ''
    fetch(URL, {
      method: 'POST',
      body: JSON.stringify({
        firstName: firstname, 
        lastName: lastname, 
        userName: username, 
        password: password,
        email: email
      })
    })
    .then(res => {
      res.json()
    })
    .then(json => {
      console.log(json)
    })
    .catch(err => {
      console.log(err)
    })
  }
</script>

</html>